@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);

* {
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}

body {
    background-position: center top;
    background-repeat: no-repeat;
}

p {
    font-size: 18pt;
}

a {
    color: white;
}

td {
    padding: 5px;
}

select, option {
    width: 90%;
    height: 2.5em;
}

ul {
    list-style: none;
    width: 936px;
    margin-left: 6px;
}

li {
    width: 80px;
    margin: 0 45px;
    display: inline-block;
    vertical-align: top;
}

label {
    display: inline;
    margin-left: 35px;
    padding: 5px;
}

input[type=radio] {
    float: none;
}

input[name=q8] {
    float: left;
    margin-left: 7px;
}

/* -------------------------------CLASSES */
div.copy {
    width: 75%;
    margin: 0 auto 5em auto;
}

.div_p10 {
    width: 100%;
    margin: 0 auto;
}

.planeDiv {
    text-align:center;
    margin-left:600px;
}

.plane {
    width:250px;
    position:relative;
}

.sliderChoices {
    margin-top: 20px;
    width: 100%;
    display: none;
}

.mobileChoice {
    display:none;
}

.hidden {
    display: none;
}

.p10 {
    width: 60%;
    color: white;
}

.p20 {
    width: 55%;
    display: inline;
    float: right;
}

.q5 {
    width: 128px;
}

.info {
    margin-left: 0px;
}

.other {
    display: inline-block;
}

.follow_bar {
    display: none;
}


/* -------------------------IDs */
#content {
    width: 1024px;
    margin: 0 auto 80px auto;
}

#mySlider {
    position: relative;
    border-style: solid;
    border-width: 2px;
    border-bottom-color: #bdb8b8;
    border-top-color: #5c5757;
    border-left-color: #5c5757;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 8px 4px 6px #333 inset;
}

#slider {
    text-align: center;
}

div#div4 {
    color: white;
    margin-top: -210px;
    margin-left: 570px;
}

#profile input {
    float: right;
}

#p15 {
    margin-top: -255px;
}
#jdyLogo {
    width: 560px;
}
