@media screen and (max-device-width:720px) {

    body {
        background-position: left top;
    }
    
    p {
        font-size: 12pt;
    }

    iframe {
        width: 100%;
        height: 100%;
    }

    ul {
        display: none;
    }

    li {
        display: none;
    }

    label {
        display: inline-block;
        margin-left: 4px;
    }

    /* ---------------------------------->IDs */

    #content {
        width: 100%;
    }

    #player {
        width: 95%;
        height: 180px;
        margin: auto;
    }

    #content {
        width: 100%;
        margin: 0 auto 0 auto;
    }

    #mySlider {
        display: none;
    }

    #profile input {
        clear: both;
        float: right;
        width:100%;
    }

    #s10 {
        text-align: center;
    }

    #submit {
        float: none;
        width: 50%;
        margin: auto;
        padding: 5px;
    }

    #p15 {
        margin-top: 0px;
    }

    div#div4 {
        width: 94%;
        clear: both;
        margin: auto;
    }

    #sliderChoice1 {
        display: none;
    }

    #logo {
        width: 90%;
        margin: auto;
    }

    #jdyLogo {
        width: 100%;
    }



    /* ------------------------------------->CLASSES */

    div.copy {
        width: 90%;
        margin: 0 auto 2em auto;
    }

    .p10 {
        width: 100%;
    }

    .mobileChoice {
        display: block;
        width: 90%;
        margin: auto;
        text-align: left;
    }

    .sliderChoices {
        display: none;
    }

    .planeDiv {
        margin-left: 0px;
        margin-top: 2em;
    }

}
