@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
 
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes movePlane {
    0%   { transform: translateX(0px); }
    25%  { transform: translateX(-10px); }
    85%  { transform: translateX(600px); }
    100%  { transform: translateX(2000px); }
}

@-webkit-keyframes movePlane {
    0%   { -webkit-transform: translateX(0px); }
    25%  { -webkit-transform: translateX(-10px); }
    85%  { -webkit-transform: translateX(600px); }
    100%  { -webkit-transform: translateX(2000px); }
}

div.copy {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
 
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
}

.foldedPlane {
    animation-name: movePlane;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

    -webkit-animation-name: movePlane;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
}
 


